.cadastrar_se{    
    width: 400px;
    height: 700px;
    background-color: var(--cinza-claro);
    margin:auto;
    padding-top: 2em;
}

.cadastrar_se input {
    background-color: var(--cinza-claro);
    border: none;
    border-bottom: 1px solid black;
}

.cadastrar_se input[type=submit]{
    background-color: black;
    color: white;
    transition-duration: 0.2s;
}
.cadastrar_se input[type=submit]:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cadastrar_se form{
    text-decoration: none;
    color: black;
    text-align: center;
}

#cadastrarse{
    text-align: center;
}