.finalizar-compra{
    margin:auto;
    margin-top: 4.6em;
    color: black;
    width: 600px;
}



.formulario{
    background-color: var(--cinza-claro);
    font-weight: bolder;
    font-size: 1.1em;
    padding-left: 3%;
    padding-top: 1%;
}

.formulario input {
    background-color: var(--cinza-claro);
    border: none;
    border-bottom: 1px solid black;
}

.formulario#finalizar {
    background-color: white;
    padding-bottom: 15px;
}

.formulario#finalizar input[type=submit]{
    background-color: black;
    color: white;
    transition-duration: 0.2s;
}

.formulario input[type=submit]:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.formulario#finalizar a{
    color: black;
}

.list-inline-compra{
    display: flex;
    text-decoration: none;
    gap: 1.7em;
}
.list-inline-compra li{
    list-style-type: none;
} 

.listafim{
    position:relative;
    right: -35.9%;
}



input[type=text] {
    width: 63.3%;
    box-sizing: border-box;
}
input[type=securitycode] {
    width: 85%;
}