.finalizar-compra{
    margin:auto;
    margin-left: 19em;
    margin-top: 3.7em;
    color: black;
}


.formulario{
    background-color: var(--cinza-claro);
    font-weight: bolder;
    font-size: 1.1em;
    padding-left: 3%;
    padding-top: 1%;
}


input[type=text] {
    width: 59.7%;
    box-sizing: border-box;
}
input[type=securitycode] {
    width: 85%;
}