.slogan{
    width: 100%;
    padding: 10px;
}


#imagem_slogan{
    float: left;
    width: 69%;
}

#imagem_slogan img{
    width: 100%;
}

#produto_slogan{
    background-color: rgb(235, 229, 229);
    padding: 20px;
    float: right;
    width: 30%;
    align-items: center;
    text-align: center;
}

#produto_slogan img{
    width: 70%;
    align-items: center;
}

#EmAlta{
    /* background-color: black; */
    margin: 10px;
}

#EmAlta h3{
    text-align: center;
    color: black;
    background-color: var(--azul-claro-fundo);
    border-radius: 50px;
    width: 30%;
    margin: auto;
}

#EmAlta button{
    float: right;
    border-radius: 50px;
    background-color: #183392;
}
.produto{
    background-color: rgb(235, 229, 229);
    width: 22%;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

#primeiro_produto{
    margin-left: 60px;
}

.produto .OculosEmAlta{
    width: 100%;
}

