.slogan{
    width: 100%;
    padding: 10px;
}


#imagem_slogan{
    float: left;
    width: 69%;
}

#imagem_slogan img{
    width: 100%;
}

#produto_slogan{
    background-color: var(--cinza-claro);
    padding: 20px;
    float: right;
    width: 30%;
    align-items: center;
    text-align: center;
}

#produto_slogan img{
    width: 70%;
    align-items: center;
}

#EmAlta{
    margin: 10px;
}

#EmAlta h3{
    text-align: center;
    color: white;
    background-color: var(--primary);
    margin: auto;
}

#EmAlta button{
    color: white;
    border-radius: 50px;
    background-color: var(--primary);
}

#EmAlta button:hover{
    filter: brightness(1.5);
}

#botao{
    float: right;
    margin-right: 59px;
}
.produto{
    background-color: var(--cinza-claro);
    width: 22%;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

#primeiro_produto{
    margin-left: 60px;
}

.produto .OculosEmAlta{
    width: 100%;
}

