.login{
    width: 400px;
    height: 400px;
    background-color: var(--cinza-claro);
    margin:auto;
    padding-top: 2em;
}

.login form{
    text-decoration: none;
    color: black;
    text-align: center;
}

.login h2{
    text-align: center;
}