#tudo {
    /* margin: 15px; */
    display: flex;
    flex-direction: row;
}

#barraEsquerda{
    width: 15%;
    height: 95%;
}

#barraEsquerda h1 {
    font-size: x-large;
    color: white;
    background-color: var(--primary);
    height: 75px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0px;
}

#filtros {
    display:flex;
    flex-direction: column;
    background-color: #a9b8d3c0;
}

#filtros h2 {
    font-size: x-large;
    padding-top: 20px;
    padding-left: 20px;
}
.filtroCheck {
    padding-left: 50px;
}
#filtroSubmit {
    background-color: var(--primary);
    color: white;
    width: 75%;
    margin-bottom: 30px;
    margin: auto;
    border:0px;
    border-radius: 10px;
    font-weight:500;
    box-shadow: 0px 6px 12px -6px black;
}

#produtos {
    width:85%;
    margin:auto;
    padding: 0px;
}

#produtos h1 {
    background-color: #a9b8d3c0;
    height: 75px;
    padding-top: 15px;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
}


#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

#grid a {
    margin:auto;
}

.produto{
    background-color: var(--cinza-claro);
    max-width: 380px;
}

.produto:hover {
    box-shadow: 3px 5px 10px -3px #000000;
}

.produto .OculosEmAlta{
    width: 100%;
}