:root {
    --azul-claro-fundo: rgb(149, 149, 243);

    --cinza-claro: rgb(235, 233, 246);

    --primary: #4b6387;
    --dark:#1d395a;
    --light:#7990b7;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    color: var(--primary);
}

.site-navbar{
    width: 100%;
    height: 75px;
    background-color: var(--dark);
}
.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-title{
    font-size: 32px;
    line-height: 75px;
    font-weight: bolder;
    color:white;
    text-decoration: none;
}
#produtos{
    padding-right: 100px;
    align-self: center;
    font-size: large;
}
.navbar-icons{
    font-size: 25px;
    line-height: 70px;
    font-weight:bolder;
}
.navbar-icons a{
    color: var(--primary);
    text-decoration: none;
}

.rodape{
    display: block;
    background-color: var(--dark);
    font-size: x-small;
    padding: 9px;
    width: 100%;
}
.rodape p, a, h3{ 
    color:white; 
}


.list-inline {
    display: flex; 
    flex-direction: row; 
    font-size: 2em;
    gap: 2em;
}
.list-inline li{
    color: black
}

#logo{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 5px;
}

.row a {
    text-decoration: none; 
    color: white;
}

.row a:hover{
    color: var(--light);
    text-decoration: underline;
}
